.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: left;
  /* width: 500px; */
  padding: 0rem 0rem;
  gap: 0.5rem;
}

.smallInputBox {
  width: 100%;
  padding: var(--padding-small);
  border: 1px solid var(--text-300);
  border-radius: var(--border-radius-5);
  margin: 6px 0;
  box-sizing: border-box;
}

.smallInputBox::placeholder {
  color: var(--text-300);
  text-align: left;
}

.smallInputBox:focus {
  color: var(--text-100);
  outline-color: var(--primary-100);
}

.birthdate {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

/* .studentsBox p {
  margin-top: var(--margin-small);
} */

.studentsBox {
  margin-top: var(--margin-large);
  margin: 0 10em;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.regexFont {
  font-size: var(--font-size-12);
  color: var(--primary-300);
}

.button {
  padding: 0.5rem 1rem;
  border: 1px solid var(--text-300);
  border-radius: var(--border-radius-10);
  background-color: var(--bg-200);
}
