.leftLineListItem {
  width: 100%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-basic) var(--padding-medium);
  margin-top: var(--margin-basic);
  border: 1px solid var(--border-100);
  border-radius: var(--border-radius-20);
  box-sizing: border-box;
  position: relative;
  transition: var(--transition-basic);
}

.colorLine {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--border-radius-20);
  overflow: hidden;
}

.colorLine::before {
  display: block;
  content: '';
  width: 12px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: var(--border-100);
}

.active:hover {
  box-shadow: var(--box-shadow-medium);
}

.red::before {
  background-color: var(--primary-300);
}

p.red {
  color: var(--primary-300);
}

.green::before {
  background-color: var(--primary-100);
}

p.green {
  color: var(--primary-100);
}

/* 관리자 유고결석 */
.staffContainer {
  width: 100%;
  font-size: var(--font-size-16);
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.staffContainer .info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.staffContainer > p {
  text-align: right;
}

/* 수강생 유고결석 */
.leftBox {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.leftBox p:first-child {
  font-weight: 500;
}

.leftBox p:last-child {
  font-size: var(--font-size-12);
}

.rightBox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: var(--padding-basic);
  right: var(--padding-medium);
}

.rightBox p {
  font-size: var(--font-size-14);
}
