.closeButton {
  width: 32px;
  height: 32px;
  background-color: transparent;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: var(--transition-basic);
  z-index: 1111;
}

.closeButton img {
  width: 22px;
  transition: var(--transition-basic);
}

.closeButton:hover {
  background-color: var(--bg-100);
}
