.mainButton {
  font-size: var(--font-size-14);
  padding: var(--padding-small) var(--padding-basic);
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--bg-300);
  border-radius: var(--border-radius-10);
  transition: var(--transition-basic);
}

.mainButton:hover {
  box-shadow: var(--box-shadow-medium);
}

.fullWidth {
  width: 100%;
}

.active {
  background-color: var(--primary-100);
}
