.login {
  width: 260px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginButton {
  width: 100%;
  margin-top: var(--margin-basic);
}

.logoImage {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin-bottom: var(--margin-basic);
}

.logoImage img {
  width: 100%;
  height: 100%;
}

.login p span {
  display: none;
}
