.LeftLineListItemDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.absenceLeftLineListItem {
  width: 50%;
  margin-right: 2%;
}

.absenceAttendanceList {
  width: 100%;
}

.categoryButton {
  display: flex;
  justify-content: start;
  margin-bottom: var(--margin-large);
}
.dateInputBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: start;
}

.dateInput {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  height: 5px;
  width: 100%;
  border: 1px solid var(--text-300);
  border-radius: var(--border-radius-5);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.dateInput:focus {
  border-color: var(--orange-color);
  box-shadow: 0 0 5px var(--primary-200);
  outline: none;
}

.dateSeparator {
  font-size: var(--font-size-18);
  color: var(--text-200);
  padding: 0 0.5rem;
  margin: var(--margin-small);
}

.absenceDashBoardItem {
  width: 50%;
  height: 100%;
}

.InputBox {
  margin-bottom: 2rem;
}

.reason {
  height: 200px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

/* modal창 InputBox */
.InputBox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.5rem;
  padding: 2rem;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  padding: 2rem 0rem;
  gap: 0.5rem;
}

.smallInputBox {
  width: 170%;
  padding: var(--padding-small);
  border: 1px solid var(--text-300);
  border-radius: var(--border-radius-5);
  margin: 6px 0;
  box-sizing: border-box;
}

.smallInputBox::placeholder {
  color: var(--text-300);
  text-align: left;
}

.smallInputBox:focus {
  color: var(--text-100);
  outline-color: var(--primary-100);
}

.birthdate {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.studentsBox p {
  margin-top: var(--margin-small);
}
