.LeftLineListItemDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.absenceLeftLineListItem {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 2rem;
}

.absenceDashBoardItem {
  width: 50%;
  height: 100%;
}

.InputBox {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.mainButton {
  padding: 0px 180px;
}

