.LeftLineListItemDisplay {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.absenceLeftLineListItem {
  width: 50%;
  margin-right: 2%;
}

.absenceAttendanceList {
  width: 100%;
}

.categoryButton {
  display: flex;
  justify-content: start;
  margin-bottom: var(--margin-large);
}
.dateInputBox {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: start;
}

.dateInput {
  background-color: transparent;
  text-align: center;
  cursor: pointer;
  padding: 15px 0;
  height: 5px;
  width: 100%;
  border: 1px solid var(--text-300);
  border-radius: var(--border-radius-5);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease;
}

.dateInput:focus {
  border-color: var(--orange-color);
  box-shadow: 0 0 5px var(--primary-200);
  outline: none;
}

.dateSeparator {
  font-size: var(--font-size-18);
  color: var(--text-200);
  padding: 0 0.5rem;
  margin: var(--margin-small);
}

.absenceDashBoardItem {
  width: 50%;
  height: 100%;
}

.inputBox {
  margin-bottom: 2rem;
}

.reason {
  height: 200px;
}

.submitButton {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.editInputBox {
  display: flex;
  flex-direction: column;
  justify-content: left;
  gap: 0.5rem;
  padding: 2rem;
  text-align: left;
  align-items: flex-start;
}

.editInputBox,
.editInputBox * {
  text-align: left !important;
}

.reason,
.editReason {
  height: 200px;
}

.submitButton {
  display: flex;
  justify-content: center;
}

.termTitle,
.editTermTitle {
  text-align: left !important;
  display: block;
  width: 100%;
  margin-left: 0;
}

.dateInputBox,
.editDateInputBox,
.textInput,
.editTextInput {
  width: 100%;
  text-align: left;
}

.editInputBox p,
.editInputBox label,
.editInputBox div {
  text-align: left !important;
  margin-left: 0;
  margin-right: auto;
}
