.dropBoxButton {
  width: 100%;
  display: block;
  padding: var(--padding-small);
  color: var(--text-300);
  background-color: var(--bg-200);
  transition: var(--transition-basic);
}

.dropBoxButton:hover {
  color: var(--text-300);
  background-color: var(--bg-100);
}
