.roundButton {
  font-size: var(--font-size-16);
  padding: var(--padding-small) var(--padding-medium);
  margin-right: var(--margin-basic);
  border: 1px solid var(--bg-300);
  border-radius: var(--border-radius-30);
  text-align: center;
  background-color: #fff;
  transition: var(--transition-basic);
}

.roundButton:hover {
  box-shadow: var(--box-shadow-medium);
}
